*{

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

}
body {
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4
}
header, nav, main, section, article{
    background: #e97bff;
    color: white;
    text-align: center;

}
nav ul {
    list-style: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin: 0 15px;
}
nav ul li a {
    color: #7a2046;
    text-decoration: none;
}
main {
    padding: 20px;
}
section, article {
    background: #c066b9;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
aside {
    background: #e2e2e2;
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
}
footer {
    text-align: center;
    padding: 10px;
    background: #333;
    color: white;
    bottom: 0;
    width: 100%;
}